{% extends 'BlogApp/user/userbase.html' %}

{% block contents %}

<div class="blog-list-container">
    <h2>Latest Blogs :</h2>
    <ul class="blog-list" style="list-style-type: decimal;">
        {% for blog in blogs %}
        <li class="blog-item">
            <a href="{% url 'blog_detail' blog.pk %}" class="blog-link">{{ blog.title }}</a>
            <small class="blog-meta">By {{ blog.author }} on {{ blog.created_at }}</small>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}