{% extends 'BlogApp/user/userbase.html' %}

{% block contents %}
{% load static %}
<div class="container">
    <div class="row" style="width: 100%;">
        <div class="col-md-8"
            style="display:flex; align-items: center; flex-direction: column; justify-content: center;">
            <h2 style="font-size: 50px;">Hi! <span style="color:black;font-size: 45px; font-weight: 800;">{{ request.user.first_name }}</span> ☑️</h2>
            <p style="font-size: 22px;"><i>Write Your Exceptional<span style="color:blue;"> Bloggs</span> Into The Globe...</i>
            </p><br>
        </div>
        <div class="col-md-4" style="text-align: end;">
            <img src="{% static 'BlogApp/images/blog.png' %}" class="img-fluid rounded" alt="home">
        </div>

    </div>
</div>
{% endblock %}